#body{

    display: block!important;
    margin: 0px!important;
background-color: red;
}



.div1 {
    width: 100%;
    display: block; 
    /* background: wheat; */
    height: max-content;
    /* height: max-content; */
    background: antiquewhite;
    height: 350px;
   
}

div#data-1 {
    width: 40%;
    /* display: inline; */
    float: left;
    margin: 25px;
    padding: 25px;
}

div#data-2 {
    width: 40%;
    /* display: inline-block; */
    float: right;
}

#img1{
    width: 300px;
    height: 300px;
    position: relative;
    top: 21px;
    border-radius: 16px;
}

#data-1 h1 {
    padding: 0px;
    margin: 2px 0;
    color: #d33d2b;
    font-family: fantasy;
}



#data-1 p {
    margin: 2px 0;
    font-size: 20px;
    font-style: oblique;
    color: blue;
    line-height: 28px;
    /* margin-bottom: 10px; */
}

#data-1 a {
    text-decoration: none;
    font-size: 12px;
    font-family: monospace;
    color: #faebd7;
    padding: 0px;
    margin: 0px;
    background: #dc2626;
    padding: 5px 0px;
    display: inline-block;
    width: 20%;
    height: 20%;
    text-align: center;
    border-radius: 7px;
    margin-top: 5px;
    border: 1px dashed black;
    font-weight: bolder;
}


    .back1 {
        background: red;
        width: 20px;
        position: relative;
        height: 30px;
        animation-name: animated-1;
        border: 8px dotted wheat;
        border-radius: 50px;
    }
    
    .back2 {
        background: #bf0707db;
        width: 30%;
        height: 20%;
        position: relative;
        /* left: 563px; */
        /* overflow: auto; */
        top: 32px;
        border-radius: 10px;
        /* offset-rotate: reverse; */
        /* transform: skew(10deg, 22deg); */
        
        
        top: 32px;
        transform: none;
        transform: inherit;
        transform: inherit;
        transform: rotateZ(45deg);
    }
    
    .back3 {
        background: #6969ae;
        width: 15%;
        height: 40%;
        position: relative;
        left: 504px;
        border-radius: 10%;
        top: 197px;
        overflow: overlay;
    }
@keyframes back31 {
    from{background-color: red;
    
    transform: rotateZ('0deg');
    }
    to{background-color: wheat;
    transform: rotateZ('45deg');
    }
}

    .back3:hover{


        background-color: red;
       animation-name: back31;
       animation-duration: 4s;

        
    }

 
    a#btn1:hover {
        background: #dbf102;
        color: #E91E63;
        /* transition-delay: .5s; */
        transition: .5s;
        border: 1px solid purple;
    }

    div#data-3 h1 {
        margin: 2px 0;
        padding: 0px;
        font-family: fantasy;
        color: aliceblue;
    }
    div#data-3 p {
        display: block;
        line-height: 30px;
        line-break: strict;
        margin: 0px;
        padding: 0px;
        font-size: 19px;
        font-family: fantasy;
    }
    div#data-3 {
        width: 100%;
        /* left: 80px; */
        text-align: center;
        background: #6b6bc2;
        height: 270px;
        display: block;
        padding: 12px 0;
    }
    div#data-4 {
        height: 500px;
        background: #000000eb;
        width: 100%;
    }
    div#data-4 img {
        width: 50%;
        position: absolute;
        left: 26%;
        bottom: -57%;
        background: blue;
    }
    div#back4 {
        width: 99.2%;
        text-align: center;
        font-size: 40px;
        border: 5px dotted black;
        font-family: monospace;
        background: white;
    }

    div#\ back5 {
        background: #FFC107;
        width: 30px;
        height: 30px;
        position: relative;
        left: 50%;
        animation-name:animated-1;
        animation-duration: 3s;
        transition: 5s;
    }

    div#\ back6 {
        background: #8a5a5a;
        width: 30px;
        height: 30px;
        position: relative;
        right: -52%;
        animation-name: animated-2;
        animation-duration: 3s;
        transition: 5s;
    }


    @keyframes animated-2 {
        from{
            right: -52%;
            transition: 5s;
        }
        to{
            right: -100%;
        }
    }



    @keyframes animated-1 {
        from{
           left:50% 
        }
        to{
left: 0%;
        }
    }